<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>897546565787-fr6rkjv4dmlmihsl4s6hucsb8msvanee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897546565787-fr6rkjv4dmlmihsl4s6hucsb8msvanee</string>
	<key>API_KEY</key>
	<string>AIzaSyD2iYo35VvViIFVsw-t7MfCBzKr00tM92A</string>
	<key>GCM_SENDER_ID</key>
	<string>897546565787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jorgeucano.miappfirebase</string>
	<key>PROJECT_ID</key>
	<string>miappfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>miappfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:897546565787:ios:b358e4e772de4c7c</string>
	<key>DATABASE_URL</key>
	<string>https://miappfirebase.firebaseio.com</string>
</dict>
</plist>